// font-family: "Fusion Pixel 12px M latin"; // 缝合像素字体
@import url("https://fontsapi.zeoseven.com/570/main/result.css");
// font-family: "WenQuanYi Micro Hei Mono"; // 文泉驿等宽微米黑 Mono
@import url("https://fontsapi.zeoseven.com/372/main/result.css");
:root {
  color-scheme: light dark;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "WenQuanYi Micro Hei Mono", system-ui;
  font-weight: normal;
}

#app {
  width: 100%;
  min-width: 1280px;
  height: 100%;
  font-size: 16px;
}

div {
  box-sizing: border-box;
}
